/* General Styles */

html {
color: black;
font-family: Sunflower, Arial, sans-serif;
font-weight: 300;
font-size: 16px;
}

h1, h2, h3, h4 {
font-weight: 700;
}

h1 {
  font-size: 4rem;
  line-height: 4.2rem;
  color: crimson;
}

h2 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
  line-height: 3rem;
}

p {
  line-height: 1.3rem;
}

a {
  text-decoration: underline;
  color: crimson;
  display: block;
  padding: 1rem 0px;
}

/* Desktop Screen */

    /* General Styles */

    .mobile {
      display: none;
    }

    /* Hero Section */

    .hero {
      background-color: #e8e8ee;
    }

    .txtgroup button {
      width: 100%;
      background-color: crimson;
      color: white;
      font-size: 1.5rem;
      font-family: Sunflower, Arial, sans-serif;
      height: 2.5rem;
      border: 0px;
      margin-top: 1rem;
    }

    /* Footer */

    footer {
      padding: 1rem;
    }

/* Phone Visuals */


@media only screen AND (max-width: 600px) {

  /* General Phone Styles */

  h1 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    line-height: 3rem;
  }

  h5 {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 0.5rem 0;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: inline;
  }

  /* Header */

  header, nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
  }

  .logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    flex-grow: 3;
  }

  /* Hero */

  .hero h5 {
    padding: 1rem 0;
  }

  .hero img {
    width: 100%;
    height: auto;
  }

  .hero .txtgroup {
    padding: 2rem 1rem;
  }

  /* Quicklinks */

  #quicklinks {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  #quicklinks img {
    width: 100%;
    height: auto;
    padding-top: 1rem;
  }

  #quicklinks .txtgroup {
    padding-bottom: 1rem;
  }

  /* Start Learning */

  #startlearning {
    padding: 2rem 1rem;
    border: 1px solid #d3d3d3;
  }

  #startlearning h5 {
    background-color: #e8e8ee;
    margin: 0.5rem 0;
    padding: 1rem;
  }

  /* Thesis */

  #thesis {
    padding: 2rem 0px;
  }

  #thesis h1 {
    padding-left: 1rem;
  }

  #thesis video {
    width: 100%;
    height: auto;
  }
}
